<!DOCTYPE html>

<html>
  <head>
    <title>Help - Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <!--<script src="/src/app.js"></script>-->
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    </div>
    {{>footer}}
  </body>
</html>
